
body{
  margin: 0;
  padding: 0;
}


.App{
  text-align: center;
  margin: 50px auto 0px;
  width: 90%;
  border-radius: 20px;
  height: 470px;
  padding: 20px 15px;
  background: linear-gradient(135deg, #667eea, #764ba2)
}


.search-engine{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  gap: 20px;
}

.search-engine input{
  width: 40%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  padding: 2px 15px;
  color: black;
}

.search-engine button{
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 11px 15px;
}

.cityName{
  margin-bottom: 10px;

}

.loading{
  font-size: 60px;
  font-weight: bold;
  color: black;
}

.date{
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.temp{
  font-size: 64px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.description{
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 20px;
}

.weatherInfo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.column{
  display: flex;
  align-items: center;
  line-height: 1px;
}



